{% load static %}
<header class="header" id="header">
    <div class="navigation">
      <div class="nav-center container d-flex">
        <a href="/" class="logo"><h1>Bazaar</h1></a>
        <div class="icons d-flex">
          <a href="{% url 'home' %}" class="icon" title="Home">
            <i class="bx bx-home"></i>
          </a>
          <a href="{% url 'list_product' %}" class="icon" title="Shop">
            <i class="bx bx-store"></i>
          </a>
          {% if not user.is_authenticated %}
          <a href="{% url 'account' %}" class="icon" title="Account">
            <i class="bx bx-user"></i>
          </a>
          {% else %}
          <a href="{% url 'add_cart' %}" class="icon" title="Cart">
            <i class="bx bx-cart"></i>
          </a>
          <a href="{% url 'orders' %}" class="icon" title="Order">
            <i class="bx bx-package"></i>
        </a>
          <a href="{% url 'logout' %}" class="icon" title="Logout">
            <i class="bx bx-log-out"></i>
        </a>
        {% endif %}
        </div>
        <div class="hamburger">
          <i class="bx bx-menu-alt-left"></i>
        </div>
      </div>
  </div>
 </header> 
  